<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">

    <title>DeftDraft</title>

    <link rel="stylesheet" href="/public/stylesheets/dd-style.css">
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="container">
        <h2>DeftDraft Editor</h2>
        <textarea class="textarea mousetrap deft" id="editor">Some sample inputs for our use. Huh, could this actually? Really though? Seems strange. Strange.</textarea>
    </div>
</body>

<!-- include Mousetrap -->
<script type="text/javascript" src="/public/javascripts/mousetrap.min.js"></script>
<!-- include jQuery library -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<!-- include RangyInputs library -->
<script type="text/javascript" src="/public/javascripts/rangyinputs.js"></script>
<script src="/public/javascripts/caret.js"></script>
<script src="/public/javascripts/deftdraft.js"></script>
</html>