include headerlayout

body.header-body
	.container.body-container
		.content.body-box
			.row
				#welcome-box.body-contents
					h1 Welcome, #{locals.currentUser}
					if locals.d_ids
						div#show_groups Documents:
						- for (var i = 0; i <= locals.title.length; i++)
							link = "/document" + "/" + locals.d_ids[i];
							div
								a(href=link)= locals.d_title[i]
					div.single-button
						a(href='/newdocument')
							button.btn.btn-body.primary-body(type='button', value='Create', action='/newdocument') Create new document