link(rel='stylesheet', href="/stylesheets/bootstrap.css");
script(src="http://code.jquery.com/jquery-1.10.1.min.js");
script(src="/js/bootstrap.js");
link(rel='stylesheet', href="/stylesheets/style.css");
link(rel='stylesheet', href="/stylesheets/login.css");

body
  .container.login-container
    .content.login-box
      .row
        #login-form
          h2 #{locals.title}
          form.users#login(method='post', action='/login') #{locals.users.email}
            fieldset
              .clearfix
                input(id='username', type='text', placeholder='Username', name='user[email]');
              .clearfix
                input(id='password', type='password', placeholder='Password', name='user[password]');
              if locals.users
                .clearfix#remember-me
                  label(id='before-label', for='remember_me') Remember me:
                  input(id='before-checkbox', type='checkbox', name="remember_me") Remember me
              button.btn.primary(type='submit', value='Log in') Log in
              a(href='/register')
                button.btn.primary(type='button', value='Sign up', action='/register') Sign up
              if locals.message
                div#message #{locals.message}