head
	link(rel='stylesheet', href="./public/stylesheets/bootstrap.css");
	script(src="http://code.jquery.com/jquery-1.10.1.min.js");
	script(src="/js/bootstrap.js");
	link(rel='stylesheet', href="./public/stylesheets/body.css");
	link(rel='stylesheet', href="./public/stylesheets/style.css");
	link(rel='stylesheet', href="./public/stylesheets/headerlayout.css");

nav
	div.navbar.navbar-inverse.navbar-fixed-top
		div.navbar-inner
			div.container.nav-container
				a(href='/')
					button.btn.navbar-toggle.nav-btn(type='button', value='Home', aciton='/') Home
				a(href='/login')
					button.btn.navbar-toggle.nav-btn(type='button', value='Login', action='/login') Login