.page
  h2 #{locals.title}
  p
    a.button(href='/register') Create an account
  form.users#login(method='post', action='/login') #{locals.users.email}
    include fields
    if locals.users
      div
        label(for='remember_me') Remember me:
        input#remember_me(type='checkbox', name='remember_me')
      div
        input(type='submit', value='Log In')
    if locals.message
      div#message #{locals.message}
      
        

