include headerlayout

body.header-body
	.container.body-container
		.content.body-box
			.row
				#info.body-contents
					h2 New File
					form.users(method='post', action='/newdocument')
						fieldset
							.clearfix
								input(id='title', type='text', placeholder='Title', name='doc[title]', value='')
							.clearfix
								input(id='contents', type='text', placeholder='', value='', name='doc[content]', style='display:none;')
							button.btn.btn-body.primary-body(type='submit', value='Save') Save