include loginheaderlayout

link(rel='stylesheet', href='/stylesheets/register.css');

body.login-header-body
	.container.register-container
		.content.register-box
			.row
				#register-form
					h2 #{locals.title}
					form.users#register(method='post', action='/register')
						fieldset
							.clearfix
								input(id='name', type='text', name='user[name]', placeholder='Name');
							.clearfix
								input(id='email', type='text', placeholder='Email', name='user[email]');
							.clearfix
								input(id='password', type='password', placeholder='Password', name='user[password]');
							button.btn.btn-body.primary-body(type='submit', value='Register') Register
							a(href='/login')
								button.btn.btn-body.primary-body(type='button', value='Log in', aciton='/login') Log in
							if locals.message
								div#message #{locals.message}