//extends layout
.page
	h1 Settings
//	form.users(method='post', action='/settings' )
//
//		div
//			label Name:
//			input(name='user[name]', value='')
//		div
	//div
	//	h4 Update Password:
	form.users(method='post', action='/settings' )
		h4 Update Password:
		div
			label New Password:
			input(type='password', name='newPassword', value='')
		div
			label Confirm Password:
			input(type='password', name='confirmPassword', value='')
		//include fields
		div
			input(type='submit', value='Update')
	div
		if locals.message
			div#message #{locals.message}