include headerlayout

body.header-body
	.container.body-container
		.content.body-box
			.row
				#settings-form.body-contents
					h2 Update Password
					form.users(method='post', action='/settings')
						fieldset
							.clearfix
								input(id='newpw1', type='password', placeholder='New Password', name='newPassword');
							.clearfix
								input(id='newpw2', type='password', placeholder='Confirm Password', name='confirmPassword');
							button.btn.btn-body.primary-body(type='submit', value='Update') Update