.body-container {
	background-color: #E8F2F5;
	border-radius:10px;
	margin-top: 20px;
	width: 300px;
}

.body-contents {
	margin-left: 40px;
}

.body-box {
	padding-top: 0px;
	padding-bottom: 10px;
}

h1 {
	padding-top:0px;
	padding-bottom: 10px;
}

.single-button {
	margin-left: 35px;
}

fieldset {
	margin: 0 auto;
}

h2 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.btn-body {
	background-color: #36AECC;
	color: #fff;
}

.clearfix {
	padding-bottom: 10px;
}

.primary-body {
	margin-left: 10px;
	margin-right: 10px;
}