.login-container {
	background-color: #E8F2F5;
	border-radius:10px;
	margin-top: 20px;
	width: 300px;
}

.login-box {
	padding-top: 25px;
	padding-bottom: 10px;
}

#login {
	margin-left: 40px;
}

fieldset {
	margin: 0 auto;
}

h2 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

#message {
	color:black;
}

#login-form {
	padding: 20px;
}

#remember-me {
	padding-left: 15px;
}

.btn {
	background-color: #36AECC;
	color: #fff;
}

#before-label {
	padding-right: 5px;
	color: #666;
	margin: 0 auto;
	text-align: center;
}

#before-checkbox {
	margin-right: 5px;
	vertical-align: text-bottom;
}

#signup {
	margin-right: 20px;
	margin-left: 10px;
}

.clearfix {
	padding-bottom: 10px;
}

.primary {
	margin-left: 10px;
	margin-right: 10px;
}
