.login-container {
	background-color: #7777FF;
	border-radius:10px;
	margin-top: 20px;
	margin-left: 25px;
	width: 295px;
}

.login-box {
	padding-top: 25px;
	padding-bottom: 10px;
}

h2 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

#login-form {
	padding-left: 65px;
}

#before-label {
	padding-right: 5px;
}

#before-checkbox {
	margin-right: 5px;
}

#signup {
	margin-right: 20px;
	margin-left: 10px;
}

.clearfix {
	padding-bottom: 10px;
}

.primary {
	margin-left: 10px;
	margin-right: 10px;
}