.register-container {
	background-color: #E8F2F5;
	border-radius:10px;
	margin-top: 20px;
	width: 300px;
}

.register-box {
	padding-top: 25px;
	padding-bottom: 10px;
}

#register {
	margin-left: 40px;
}

fieldset {
	margin: 0 auto;
}

h2 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.btn {
	background-color: #36AECC;
	color: #fff;
}

#message {
	color:black;
}

#register-form {
	padding: 20px;
}

.clearfix {
	padding-bottom: 10px;
}

.primary {
	margin-left: 10px;
	margin-right: 10px;
}